# Set after Mozilla publication/signing; omit while pending.
# NEXT_PUBLIC_AMO_URL=https://addons.mozilla.org/firefox/addon/ACTUAL-SLUG/
# NEXT_PUBLIC_SIGNED_XPI_URL=https://github.com/wrestle-R/Unloader/releases/download/v0.2.0/unloader-firefox-signed.xpi
